.encabezado__sesion.blur-js
   ul.encabezado__sesion--listado
      li.encabezado__sesion--list
         p.encabezado__sesion--text <strong>Usuario:</strong> 1
      li.encabezado__sesion--list
         p.encabezado__sesion--text <strong>Bienvenido:</strong> operaNave
      li.encabezado__sesion--list
         a(href="/", title="Salir").encabezado__sesion--link
            img(src="img/icon_logout.svg", alt="")