extends  ../includes/base.pug

block titulo
	title Iniciar sesi칩n || Sistema de inspecciones
block template
	.pag-login
		.pag-login__cuerpo
			section.pag-login__recuadro 
				.pag-login__recuadro--contenido
					.pag-login__recuadro--logo
						img.pag-login__recuadro--img(src="img/icon_login.svg", alt="")
					h2.pag-login__recuadro--titulo sistema de inspecciones Tecnicas 
				
					include ./elementos/formula
					p.pag-login__recuadro--nota.
						Para solicitar nuevo usuario, cambiar contrase침a,
						recuperar contrase침a deber치n comunicarse al telefono <a href="tel:9880437440">988 043 744</a>

block script
	script.
		loginEffect('campoUser');
		loginEffect('campoPass');