doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/estilo.css")
        link(rel="stylesheet", href="css/fuentes/bebas-neue/font_bebas.css")
        link(rel="stylesheet", href="css/fuentes/roboto/font_roboto.css")
        script(src="js/anime.min.js")
        block titulo
            title Sistema de inspecciones
    body
        block template
        script(src="js/main.min.js")
        block script