- 
	let menuPrinc = [
		{
			url: '#',
			nombre: 'Inspecciones'
		},
		{
			url: 'https://ed.team',
			nombre: 'Crear inspectores'
		},
		{
			url: '#',
			nombre: 'Inspecciones 2'
		},
		{
			url: 'https://ed.team',
			nombre: 'Inspecciones 3' 
		},
		{
			url: '#',
			nombre: 'Inspecciones 4' 
		}
	]