- 
	let tramPendiente = [
						{   id: "2592540", 
							numero: "00006479-01-2021",
							proceso: "C26",
							idNave: "35184",
							matricula: "CO-10397-PN",
							nombre: "Ernestina",
							fecha: "23/04/2021",
							capitania: "Callao",
							url: "docs/doc01.pdf"
						},
						{   id: "2592541", 
							numero: "00006480-02-2021",
							proceso: "C30",
							idNave: "35184",
							matricula: "CO-10397-PN",
							nombre: "Carla",
							fecha: "23/04/2021",
							capitania: "Pisco",
							url: "docs/doc02.pdf"
						},
						{   id: "2592542", 
							numero: "00006481-03-2021",
							proceso: "C42",
							idNave: "35184",
							matricula: "CO-10397-PN",
							nombre: "Rusito",
							fecha: "23/04/2021",
							capitania: "Pimentel",
							url: "docs/doc03.pdf"
						},
						{   id: "2592543", 
							numero: "00006482-04-2021",
							proceso: "C50",
							idNave: "35184",
							matricula: "CO-10397-PN",
							nombre: "Chinita",
							fecha: "23/04/2021",
							capitania: "Zorritos",
							url: "docs/doc03.pdf"
						},
						{   id: "2592540", 
							numero: "00006479-01-2021",
							proceso: "C26",
							idNave: "35184",
							matricula: "CO-10397-PN",
							nombre: "Ernestina",
							fecha: "23/04/2021",
							capitania: "Callao",
							url: "docs/doc01.pdf"
						},
						{   id: "2592541", 
							numero: "00006480-02-2021",
							proceso: "C30",
							idNave: "35184",
							matricula: "CO-10397-PN",
							nombre: "Carla",
							fecha: "23/04/2021",
							capitania: "Pisco",
							url: "docs/doc02.pdf"
						},
						{   id: "2592542", 
							numero: "00006481-03-2021",
							proceso: "C42",
							idNave: "35184",
							matricula: "CO-10397-PN",
							nombre: "Rusito",
							fecha: "23/04/2021",
							capitania: "Pimentel",
							url: "docs/doc03.pdf"
						},
						{   id: "2592543", 
							numero: "00006482-04-2021",
							proceso: "C50",
							idNave: "35184",
							matricula: "CO-10397-PN",
							nombre: "Chinita",
							fecha: "23/04/2021",
							capitania: "Zorritos",
							url: "docs/doc03.pdf"
						},
						{   id: "2592543", 
							numero: "00006482-04-2021",
							proceso: "C50",
							idNave: "35184",
							matricula: "CO-10397-PN",
							nombre: "Chinita",
							fecha: "23/04/2021",
							capitania: "Zorritos",
							url: "docs/doc03.pdf"
						}


	]

-
	let tramRegistrados = [
									{
										id: "2592540", 
										numero: "00006479-01-2021",
										proceso: "C26",
										idNave: "35184",
										matricula: "CO-10397-PN",
										nombre: "Ernestina",
										fecha: "23/04/2021",
										capitania: "Callao",
										url: "docs/doc01.pdf"
									}
	]

- 
	let tramFinalizados = [
						{   id: "2592540", 
							numero: "00006479-01-2021",
							proceso: "C26",
							idNave: "35184",
							matricula: "CO-10397-PN",
							nombre: "Ernestina",
							fecha: "23/04/2021",
							capitania: "Callao",
							url: "docs/doc01.pdf"
						},
						{   id: "2592541", 
							numero: "00006480-02-2021",
							proceso: "C30",
							idNave: "35184",
							matricula: "CO-10397-PN",
							nombre: "Carla",
							fecha: "23/04/2021",
							capitania: "Pisco",
							url: "docs/doc02.pdf"
						},
						{   id: "2592542", 
							numero: "00006481-03-2021",
							proceso: "C42",
							idNave: "35184",
							matricula: "CO-10397-PN",
							nombre: "Rusito",
							fecha: "23/04/2021",
							capitania: "Pimentel",
							url: "docs/doc03.pdf"
						}

	]